footer{
    background-color: #dddddd;
    border-top: 3px solid #cccccc;
    padding:15px;
}

.CopyrightContact{
    width:100%;
    text-align: center;
    margin:auto;
}

.CopyrightEtIcons{
    padding: 10px;
}

.Cop h4{
    width:100%;
    color: gray;
}

.Icons i{
    color: black;
    padding : 0 8px 0 8px ;
    font-size: 18px;
}